---
layout: default
id_string: is_tom_morgan
body_class: home
me: Tom Morgan
job: Interaction Designer &amp; Front-end Developer
location: Leeds
permalink: /is/tom/morgan/
redirect_from: /
---
<div class="topper big__bird image-icon"><div></div></div>

<header class="header big__bird">
    <div class="the__groover">
        <a class="logo" href="/is/tom/morgan/"><div class="image-logo"></div></a>
    </div><!--
    --><div class="the__groover">
        <div class="is">is</div>
        <h2 class="name">Tom Morgan</h2>
        <div class="whois">who is</div>
        <section class="job-title" id="jobTitle">
            <p class="job toggle">
                <span class="slabtext" style="margin-bottom:4px;"><span style="opacity:0.76">&hellip; actually quite a good</span></span>
                <span class="slabtext">Interaction</span>
                <span class="slabtext">Designer <span style="opacity:0.76">&amp;</span></span>
                <span class="slabtext">Front-End</span>
                <span class="slabtext">Developer</span>
            </p>
        </section>
    </div>
</header>

<div class="extras"></div>

{% include page-what-he-do.html %}

{% include page-portfolio.html %}

{% include page-personal.html %}

{% include page-about.html %}

{% include page-contact.html %}

{% include page-speaking.html %}

{% include page-footer.html %}
