<?php

$data = array(
         'leedsmarkets' => array(
             'title' => 'Leeds Markets'
            ,'sub_title' => 'Website'
            ,'tags' => array('Interaction Design','User Experience','Visual Design')
            )
        ,'amblr' => array(
             'title' => 'Amblr'
            ,'sub_title' => 'iPhone App'
            ,'tags' => array('Interaction Design','iPhone','Visual Design')
            )
        ,'e4skins' => array(
             'title' => 'E4 Skins'
            ,'sub_title' => 'MySpace Page'
            ,'tags' => array('Visual Design','Web Build')
            )
        ,'hyperlife' => array(
             'title' => 'Hyperlife'
            ,'sub_title' => 'Facebook Game'
            ,'tags' => array('Interaction Design','User Experience','Visual Design')
            )
        ,'wirelessgrids' => array(
             'title' => 'Wireless Grids'
            ,'sub_title' => 'Animation'
            ,'tags' => array('Animation','Flash')
            )
        // ,'grabbinggordon' => array(
        //      'title' => 'Grabbing Gordon'
        //     ,'sub_title' => 'Game'
        //     ,'tags' => array('Flash','Interaction Design','Visual Design')
        //     )
        ,'wordsandpics' => array(
             'title' => 'Words&amp;Pictures'
            ,'sub_title' => 'Website'
            ,'tags' => array('Interaction Design','Web Build','Wordpress')
            )
        // ,'legal365' => array(
        //      'title' => 'Legal365'
        //     ,'sub_title' => 'Animation'
        //     ,'tags' => array('Flash','Animation')
        //     )
        );

?>
