<title>Morganesque is {{ page.me }} an {{ page.job }} in {{ page.location }}</title>
    <meta name="description" content="{{ page.me }} is an {{ page.job }} living in {{ page.location }}. He has been working with the web since the turn of the century and during that time there's not many aspects of web design and development he hasn't touched or learned about in some way. He's currently very interested in Responsive Web Design and is available for hire on a freelance basis.">
    <meta name="google-site-verification" content="">
    <meta name="author" content="{{ page.me }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">