<div class="big__bird about-me" id="about">    
    <div class="pic-container"><div class="pic spacer pic-plant"></div></div><!-- .pic-container -->
    <div class="the__groover"><h2 class="section-title">tell me more about him!</h2></div>
    <div class="the__groover desc">            
        <p><span class="says">Tom says:</span> &ldquo;Hmm&hellip; rather than write a long boring passage here all about myself, where I come from and where I&#8217;ve been, I&#8217;ve documented my own personal <a href="http://www.edwardtufte.com/tufte/posters" target="_blank">March To Moscow</a>.&rdquo;</p>
    </div><!--
--><div class="the__groover map">
        <a class="march-map" href="/img/march.jpg"><img class="alignnone size-full wp-image-199" alt="March To Moscow" src="/img/march-sm.jpg" width="100%"/></a>
    </div>
</div><!-- .big__bird -->