<div class="big__bird speaking" id="speaking">
    <div class="pic-container"><div class="pic spacer pic-violin"></div></div><!-- .pic-container -->
    <div class="the__groover"><h2 class="section-title">&hellip;I don't believe he exists!</h2></div>
    <p class="standfirst"><span class="says">Tom says:</span> &ldquo;You're right to be sceptical but I do exist. Here is some documentary footage of me speaking to people in rooms&rdquo;</p>
    <div class="the__groover vid-respon">            
        <a href="https://vimeo.com/43910614">Responsive Web Design by Tom Morgan &mdash; on Vimeo.</a>
    </div><!--
    --><div class="the__groover vid-magic">
        <a href="https://vimeo.com/24231777">Magic &amp; Conspiracy Theories by Tom Morgan &mdash; on Vimeo.</a>  
    </div>                
</div>

<script type="text/html" id="vid-respon">
    <div class="vimeo-container" style="padding-bottom:56%">
        <iframe src="https://player.vimeo.com/video/43910614" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div><!-- .video-container -->
</script>

<script type="text/hmtl" id="vid-magic">
    <div class="vimeo-container" style="padding-bottom:62.5%">
        <iframe src="https://player.vimeo.com/video/24231777" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div><!-- .video-container -->
</script>
