<div class="big__bird contact" id="contact">
    <div class="pic-container"><div class="pic spacer pic-phone"></div></div><!-- .pic-container -->
    <div class="the__groover">
        <h2 class="section-title">I want to contact him!</h2>        
    </div><!-- 
 --><div class="the__groover buttons">            
        <p class="standfirst">Press a button, get in touch&hellip;</p>
        <p class="link"><a class="button" href="tel:07974978707"><span class="icon icon7 image-icon"></span>0797&nbsp;497&nbsp;8707</a></p>
        <p class="link"><a class="button" href="mailto:morganesque@gmail.com"><span class="icon icon8 image-icon"></span>morganesque@gmail.com</a></p>
        <p class="link"><a class="button" href="skype:tomghijklmno?call"><span class="icon icon9 image-icon"></span>skype</a></p>
    </div><!--
 --><div class="the__groover twitter">
        <p class="standfirst">&hellip;or go on the twitters.</p>
        <div class="twitter-me">
            <!-- <div class="twitter-top">
                <img class="avatar" src="/img/twitter-me.jpg" alt="Tom Morgan">            
                <p>Tom Morgan <br /><a href="http://twitter.com/morganesque">@morganesque</a></p>
            </div> -->
            <ul id="twitter_update_list">
                <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/morganesque" data-widget-id="642982786966626304">Tweets by @morganesque</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>    
                <!-- <li>Oook! Twitter changed the API. Naughty Twitter!</li> -->
            </ul>  
            <p class="small">Pssssst! these are <?php 
                if ($tweets[0] == 'cache') echo 'from the cache'; 
                if ($tweets[0] == 'new') echo 'fresh from twitter'; 
            ?>.</p>
        </div><!-- .twitter-me -->    
    </div>    
</div><!-- .big__bird --> 