<div class="footer big__bird image-icon">
    <div class="the__groover top">
        <h2>&hellip;and finally</h2>        
        <p><span class="says">Tom says:</span> &ldquo;Firstly some other places you can find me on the net, and then a brief list of credits for this site.&rdquo;</p>
    </div><!-- 
 --><div class="the__groover links">
        <div class="box">
            <h4>Super Reti</h4>
            <ul>
                <li><a href="http://ghijklmno.net/">Blog</a></li>
                <li><a href="http://twitter.com/morganesque">Twitter</a></li>
                <li><a href="http://www.linkedin.com/in/tsmorgan">Linkedin</a></li>
                <li><a href="https://github.com/morganesque">Github</a></li>
                <li><a href="https://delicious.com/ghijklmno">Delicious</a></li>
                <li><a href="https://www.facebook.com/ghijklmno/">Facebook</a></li>                
                <li><a href="http://www.last.fm/user/ghijklmno/">Last.fm</a></li>
                <li><a href="http://www.flickr.com/photos/ghijklmno/">Flickr</a></li>
            </ul>
        </div>            
    </div><!-- .the__groover 
 --><div class="the__groover colo">
        <div class="box">
            <h4>Colophon</h4>
            <ul>
                <li><a href="http://www.typography.com/fonts/archer/overview/">Archer</a></li>
                <li><a href="http://wordpress.org/">Wordpress</a></li>                    
                <li><a href="http://en.wikipedia.org/wiki/Blend_modes#Lighten_Only">Photoshop</a></li>
                <li><a href="http://www.sublimetext.com/2">Sublime Text 2</a></li>
                <li class="sass"><a href="http://sass-lang.com/">SASS</a><span class="amp"> &amp; </span><a href="http://compass-style.org/">Compass</a></li>
                <li><a href="https://github.com/csswizardry/csswizardry-grids">CSSWizardry Grids</a></li>
                <li><a href="#">Pencils</a> &amp; <a href="#">Paper</a></li>
                <li><a href="">Slave Children</a></li>                
            </ul>
        </div>
    </div><!-- .the__groover 
 --><div class="copy">&copy; Copyright Tom Morgan <?php echo date('Y',time());?></div><!-- .the__groover -->
</div><!-- .big__bird footer -->