<div class="portfolio" id="portfolio">    
    <div class="pic-container"><div class="pic spacer pic-violin"></div></div><!-- .pic-container -->
    <div class="the__groover">
        <h2 class="section-title">will he work for free?</h2>
        <p class="standfirst"><span class="says">Tom says:</span> &ldquo;Absolutely not! Although if this wasn't my job it'd definitely be what I did in my spare time. Speaking of which, here are a few <a href="/this/time/its/personal/">personal projects</a> I've done in my spare time.&rdquo;</p>
    </div>                     
</div><!-- .big__bird -->