<div class="portfolio" id="portfolio">
    <div class="pic-container"><div class="pic spacer pic-violin"></div></div><!-- .pic-container -->
    <div class="the__groover">
        <h2 class="section-title">show me some work!</h2>
        <p class="standfirst"><span class="says">Tom says:</span> &ldquo;These are the best, most interesting projects I've done over the last few years. Employ me to do more stuff like this!&rdquo;</p>
    </div><!--
    {% for num in (0...5) %}
      {% assign item = site.data.portfolio[num] %}
      --><div class="the__groover project-box">
            <a href="/did/{{ item.name }}/" class="project" style="background-image:url(/img/portfolio/{{ item.name }}.png);">
                <div class="overlay"></div>
                <h3 class="title delta">{{ item.title }}  <br /> <span> {{ item.sub_title }}</span></h3>
            </a>
        </div><!--
    {% endfor %}
    -->
</div><!-- .big__bird -->
