<div class="portfolio-list big__bird" id="portfolio-list">    
    <div class="pic-container"><div class="pic spacer pic-violin"></div></div><!-- .pic-container -->
    <div class="the__groover">
        <p class="alt-standfirst">Those projects again</p>
    </div>
    <div class="the__groover">
        <div class="links"><!-- 
            {% for item in site.data.portfolio %}
                --><a href="/did/{{ item.name }}/">
                <div class="image" style="background-image:url(/img/portfolio/{{ item.name }}.jpg);"></div>
                {{ item.title }} &mdash; <span>{{ item.sub_title }}</span>
                </a><!-- 
            {% endfor %}                                          
        --></div>
    </div>    
</div><!-- .big__bird -->