<div class="big__bird what" id="what">
    <div class="the__groover"><h2 class="section-title">&hellip;but what does he do?</h2></div>
    <div class="the__groover skill-box">            
        <div class="skill">            
            <h3><div class="pic pic-int"></div>interaction design</h3>            
            <p class="desc"><span class="says">Tom says:</span>&ldquo;It's not just about how it looks but how it works. People need to understand an interface quickly and get what they need out of it really easily. You want them to feel like the experience was a pleasure. One they want to repeat. This is what I do best.&rdquo;</p>
        </div>
    </div><!--
    --><div class="the__groover skill-box">
        <div class="skill">            
            <h3><div class="pic pic-use"></div>user centred design</h3>            
            <p class="desc"><span class="says">Tom says:</span>&ldquo;A tried and trusted set of tools and techniques which achieve the best possible experience for your users. I've got over a decade of experience working in usability and I've been using creating personas, wireframes, rapid prototyping and user testing throughout my career.&rdquo;</p>
        </div> 
    </div><!--
    --><div class="the__groover skill-box">
        <div class="skill">            
            <h3><div class="pic pic-fro"></div>front-end development</h3>            
            <p class="desc"><span class="says">Tom says:</span>&ldquo;Making the designs a reality. I'm positively brimming with skills for building websites and services. Lately that has mainly meant HTML, CSS and JavaScript but I have a knowledge and experience of almost all aspects of creating stuff online. This many skills can only be enumerated via <a href="/is/not/a/poet/">poetry!</a>&rdquo;</p>
        </div>
    </div><!--
    --><div class="the__groover skill-box">
        <div class="skill">            
            <h3><div class="pic pic-res"></div>responsive web design</h3>            
            <p class="desc"><span class="says">Tom says:</span>&ldquo;It's not just about making websites that also work on mobiles (although that's the result), it's about embracing the web for what it is. We know less than ever about what devices people are using to view the web, but by making it responsive your website will shine no matter what.&rdquo;</p>
        </div>
    </div>                
</div>