<div class="portfolio" id="portfolio">    
    <div class="pic-container"><div class="pic spacer pic-violin"></div></div><!-- .pic-container -->
    <div class="the__groover">
        <h2 class="section-title">show me some work!</h2>
        <p class="standfirst"><span class="says">Tom says:</span> &ldquo;These are the best, most interesting projects I've done over the last few years. Employ me to do more stuff like this!&rdquo;</p>
    </div>
    <div class="the__groover project-box">
        <a href="/did/leedsmarkets/" class="project" style="background-image:url(/img/portfolio/leedsmarkets.png);">
            <div class="overlay"></div>
            <h3 class="title delta">Leeds Markets  <br /> <span> Website</span></h3>
        </a>
    </div><div class="the__groover project-box">
        <a href="/did/amblr/" class="project" style="background-image:url(/img/portfolio/amblr.png);">
            <div class="overlay"></div>
            <h3 class="title delta">Amblr  <br /> <span> iPhone App</span></h3>
        </a>
    </div><div class="the__groover project-box">
        <a href="/did/e4skins/" class="project" style="background-image:url(/img/portfolio/e4skins.png);">
            <div class="overlay"></div>
            <h3 class="title delta">E4 Skins  <br /> <span> MySpace Page</span></h3>
        </a>
    </div><div class="the__groover project-box">
        <a href="/did/hyperlife/" class="project" style="background-image:url(/img/portfolio/hyperlife.png);">
            <div class="overlay"></div>
            <h3 class="title delta">Hyperlife  <br /> <span> Facebook Game</span></h3>
        </a>
    </div><div class="the__groover project-box">
        <a href="/did/wirelessgrids/" class="project" style="background-image:url(/img/portfolio/wirelessgrids.png);">
            <div class="overlay"></div>
            <h3 class="title delta">Wireless Grids  <br /> <span> Animation</span></h3>
        </a>
    </div><div class="the__groover project-box">
        <a href="/did/wordsandpics/" class="project" style="background-image:url(/img/portfolio/wordsandpics.png);">
            <div class="overlay"></div>
            <h3 class="title delta">Words&#038;Pictures  <br /> <span> Website</span></h3>
        </a>
    </div><!-- <div class="the__groover project-box last2">
        <a href="/did/grabbinggordon/" class="project" style="background-image:url(/img/portfolio/grabbinggordon.png);">
            <div class="overlay"></div>
            <h3 class="title delta">Grabbing Gordon  <br /> <span> Game</span></h3>
        </a>
    </div><div class="the__groover project-box last2">
        <a href="/did/legal365/" class="project" style="background-image:url(/img/portfolio/legal365.png);">
            <div class="overlay"></div>
            <h3 class="title delta">Legal365  <br /> <span> Animation</span></h3>
        </a>
    </div> -->                      
</div><!-- .big__bird -->