<div class="module coloured colours-sea now">
    <h2 class="heading">Power now</h2>
    <p>Right now you're using:</p>
    <div class="carousel">
        <div class="carousel__slider">
            <div class="reading showing">2.5<span class="units">kw</span></div>
            <div class="reading">18<span class="units">p</span></div>
        </div>
        <a href="#" class="car__btn car__btn--right">£<br /><span class="icon-arrow-right"></span></a>
        <a href="#" class="car__btn car__btn--left">kw<br /><span class="icon-arrow-left"></span></a>
    </div>
</div>