<p>I was asked by those lovely folks at <a href="http://www.somethinelse.com/">Somethin&rsquo; Else</a> to design and build a MySpace page for a character in <a href="http://www.e4.com/skins/">E4&rsquo;s Skins</a>. Not only this but given just a couple of words as a clue I had to come up with all the visual assets to change the page completely 8 times throughout the season to reflect the changing mood of the character on screen. Attempting to get into the head of a teenage TV character (and MySpace user) was a bit of a challenge but it turnd out great and it was a LOT of fun.</p>

<div class="the_ills">

    <div class="illustration">
        <img src="/img/portfolio/e4skins/free-walk.jpg" alt="market page"/>
    </div>

    <div class="illustration">
        <img src="/img/portfolio/e4skins/morning-spring.jpg" alt="market page"/>
    </div>

    <div class="illustration">
        <img src="/img/portfolio/e4skins/dry-smothered.jpg" alt="market page"/>
    </div>

    <div class="illustration">
        <img src="/img/portfolio/e4skins/drift-look.jpg" alt="market page"/>
    </div>

</div><!-- .the_ills -->