<p>Your life only &hellip; hyper! Like Farmville or Mafia Wars before it this <a href="http://en.wikipedia.org/wiki/Social_network_game">Facebook game</a> would encourage users to return again and again to tweak their settings and see what would happen, only this game attempts to simulate your whole life! The guys at <a href="http://www.linkedin.com/company/hypergame-ltd">Hypergame</a> already knew how it would work but needed a really great interface designing which would not only give players all the information they needed in a simple way but allow them to understand and tinker with the plethora of settings needed to manage their in-game life.</p>

<div class="the_ills">

    <div class="illustration">
        <img src="/img/portfolio/hyperlife/youpage.jpg" alt="The You Page"/>
        <p class="caption">The main page of the game showing you important info and offering the user the main actions.</p>
    </div>

    <div class="illustration">
        <img src="/img/portfolio/hyperlife/workpage.jpg" alt="The Work Page"/>
        <p class="caption">Work is one of the main aspects of a "hyperlife" on this page is where you can take decisions about it.</p>
    </div>    

    <div class="illustration">
        <img src="/img/portfolio/hyperlife/eneryreservoir.png" alt="The Energy Reservoir"/>
        <p class="caption">The main mechanism within the game is how you allocate your &ldquo;energy&rdquo; so a metaphor of liquid flowing into different areas seemed to fit.</p>
    </div>

    <div class="illustration">
        <img src="/img/portfolio/hyperlife/activity.jpg" alt="Activity Controls"/>
        <p class="caption">Users needed to be presented with controls for lots of aspects of their hyperlife in a intuitive and engaging way.</p>
    </div>    

</div><!-- .the_ills -->