<p>This was great fun if a little mind melting at first. <a href="http://www.deanvipond.com/">Dean Vipond</a> had been asked to design an animation to be displayed on large screens at conferences to advertise the company. Dean&rsquo;s concept consisted of a never ending zoom into various grids, each revealing different messages and images conveying the idea of the multiple levels at which the company worked. I produced the animation in Flash after a bit of head scratching over how to achieve it followed by a &ldquo;Eureka!&rdquo; moment where everything finally clicked into place.</p>
<div class="the_ills">

    <div class="vimeo-container" style="padding-bottom:62.5%">
        <iframe src="http://player.vimeo.com/video/65388224" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>

    <div class="illustration">
        <img src="/img/portfolio/wirelessgrids/two.jpg" alt="screen shot of animation"/>
    </div>    

    <div class="illustration">
        <img src="/img/portfolio/wirelessgrids/three.jpg" alt="screen shot of animation"/>
    </div>

    <div class="illustration">
        <img src="/img/portfolio/wirelessgrids/four.jpg" alt="screen shot of animation"/>
    </div>    

    <div class="illustration">
        <img src="/img/portfolio/wirelessgrids/five.jpg" alt="screen shot of animation"/>
    </div>    

</div><!-- .the_ills -->