.logo {
    display:block;
    margin-top:-1em;
    padding:1em 0;
    overflow:hidden;

    .image-logo {
        transform:rotate(-4.2deg);
        width:100%;
        margin:0;padding:0;
        padding-top:60%;
        background-size:cover;
        background-position:center center;

        @media only screen and ( min-width: 30em ) { padding-top:50% }
        @media only screen and ( min-width: 70em ) { padding-top:50% }        

        .ie & {
            width:600px;
            height:300px;
            padding:0;
            margin:0 auto;
        }
    }

    img {
        margin:0 auto;
    }  
    
    transition-property:top,width;
    transition-duration:.5s;
    
    // @media only screen and ( min-width: 30em ) { top:-0.5em; }  // 480
    // @media only screen and ( min-width: 60em ) { top:-3em; }    // 960
    // @media only screen and ( min-width: 64em ) { top:-2em; }    // 1024     
    
}