.single {

    .headbar {
        width:100%;
        margin:0 auto 1em;
        background-color:black;
        border-radius:0.19em;
        overflow:hidden;
        position:relative;

        .title {      
            position:relative;      
            width: 100%;
            text-align: center;
            font-weight: normal;
            color:rgba(white,0.62);
            text-shadow: 0px 0px 10px black;
            line-height:1.2em;
            padding:0 2em;
        }
    }

    .thumb {
        position:absolute;
        top:0;left:0;
        width:100%;height:100%;
        background-attachment: fixed;
        background-position: center center;
        background-repeat: repeat;
        background-size: cover;
        opacity:0.42;
    }   

    .body {
        margin:0 auto;
        max-width:36em;
        text-align:left;
    }

    .morganesque {
        margin:-32% auto 0;        
    }

    .logo {
        position:relative;
        left:0.5em;
        .image-logo {
            transform:rotate(0);
            padding-top:40%;            
        }
    }

    .tags {
        line-height:1.5em;
        font-size:0.75em;

        ul {
            margin:0 2em 0.5em 1em;
            padding:0;
        }

        @media only screen and ( min-width: 30em ) { 
            float:left;
            width:25%;
            text-align:left;

            li {
                a {
                   padding:1em;
                }
            }
        } // 30*16px
    }

    .the_ills {
        margin-bottom:2em;
        padding-bottom:2em;
        text-align:center;
    }

    .caption {
        text-align:center;
        
        @media only screen and ( min-width: 40em ) { // above=min 40*16px 
            font-size:0.67em;
        } 
    }

    .note {
        font-size:0.5em;
    }

    .illustration {
        margin-bottom:2em;
        img {
            max-width:100%;
        }
    }

    // .illustration {
    //     position:relative;
    //     height:0;
    //     padding:0 1em 50%;
    //     background-size:contain;
    //     background-repeat:no-repeat;
    //     background-position:center center;
    //     margin-bottom:3em;
    //     display:inline-block;

    //     .caption {
    //         margin:0 auto;
    //         position:absolute;
    //         bottom:-4em;
    //         left:50%;
    //         width:90%;
    //         margin-left:-45%;
    //         font-size:0.67em; 
    //         background:white;
    //         border:2px solid #999;
    //         padding:0.75em;
    //         font-weight:bold;
    //         line-height:1.5em;
    //         text-align:center;
    //         box-shadow:0 0 5px rgba(black,0.42);
    //     }
    // }
}